pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.2.0
aif360[AdversarialDebiasing,inFairness]>=0.6.1
fairlearn>=0.9.0
imbalanced-learn>=0.10.0
sdv>=1.0.0
tqdm>=4.65.0
reportlab>=4.0.0
tabulate>=0.9.0
openpyxl>=3.1.0
torch>=2.0.0
xlrd>=2.0.1
